.clientes {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
  background-color: #282828;
  color: #fff;
}

.tools {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 100vh;
}

.tools form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tools input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
}

.tools button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #282828;
}

.add-cliente {
  background-color: rgb(6, 185, 6);
  border-radius: 5px;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-clientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;}

.client-data{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 10px;
  width: 95vh;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: black;
}


figure img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info{
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info h2, p{
  margin: 0;
  padding: 0;
}

.tools-contact{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.delete-contact{
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  transition-duration: 0.3s ;
}

.delete-contact a{
  color: #050505;
  opacity: 0.6;
}

.delete-contact:hover{
  background-color: #ff0000;
  transition: 0.5s ease-out;
}

.delete-contact:hover a{
 opacity: 1;
}

.edit-contact{
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  transition-duration: 0.3s;
}

.edit-contact a{
  color: #050505 !important;
  opacity: 0.6;
}

.edit-contact a:hover{
  opacity: 1;
}
.edit-contact:hover{
  background-color: #f8e917;
  transition: 0.5s ease-out;
}


.add-cliente .btn-add{
  background-color: transparent;
  color: #fff;
}

@media screen and (max-width:1024px) {
  .list-clientes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width:912px){
    .list-clientes{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .tools{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}

@media screen and (max-width:758px) {

  .list-clientes{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .client-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tools-contact{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

@media screen and (max-width:580px){
  .clientes{
    display: flex;
    flex-direction: column;
    align-items: center;    
  }

  .list-clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .tools{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}

@media screen and (max-width:390px){
  .prestamos{
    width: 160%;
    display: flex;
    flex-direction: column;
    align-items: center;   
  }

  .tools{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-prestamos{
     /*que se ven dos columnas*/
      grid-template-columns: repeat(1, 1fr);
      margin: 0 20px;
      width: 80%;
  }
}

@media screen and (max-width: 764px) {
  .client-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .info{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tools-contact{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}