html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e4e4e4;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

article{
    border-radius: 20px;
    padding: 2rem;
    background-color: #313131;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header{
    color: white;
    opacity: 0.9;
    font-size: 2rem;
    margin-bottom: -22px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    margin-top: 50px;

}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.inputs label{
    color: white;
    opacity: 0.9;
    font-size: 1.5rem;
    display: flex;
}

.inputs input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #383838;
    color: white;
    opacity: 0.9;
    font-size: 1.2rem;
    transition-duration: 0.5s;
    text-align: center;
}

.inputs input::placeholder{
    color: white;
    opacity: 0.8;
    font-size: 1.2rem;
    text-align: center;
}

.inputs input:hover{
    background-color: #696969;
    transition: all 0.3s ease-in-out;
}

button{
    background-color: #1c8b2b;
    padding: 0.5rem;
    border-radius: 7px;
    border: none;
    width: 70%;
    font-size: 1.1rem;
    color: #fff;
    transition-duration: 0.5s;
}

button:hover{
    background-color: #2a9c04;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0px 2px 48px -5px rgba(255,255,255,0.77);
-webkit-box-shadow: 0px 2px 48px -5px rgba(255,255,255,0.77);
-moz-box-shadow: 0px 2px 48px -5px rgba(255,255,255,0.77);
}

.register{
    color: white;
    opacity: 0.9;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.register a{
    color: #0ddb0d;
    text-decoration: none;
    opacity: 0.7;
    transition-duration: 0.5s;
}

.register a:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.back-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: #2a9c04;
    padding: 0.5rem;
    width: 30%;
    margin-left: 5.8rem;
    border-radius: 2rem;
    opacity: 0.7;
    transition-duration: 0.5s;
}

.back-arrow a{
    color: white;
    text-decoration: none;
}

.back-arrow:hover{
    background-color: #1c8b2b;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    scale: 1.1;
}

/*TODO: Diseño responsive al login*/