{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}" />

    <title>Tus Prestamitos</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}">Tus Prestamitos <-- AQUI IRA EL LOGO</a>
      <nav>
        <a href="{% url 'prestamos' %}">Prestamos</a>
        <a href="{% url 'pagos' %}">Pagos</a>
        <a href="{% url 'clientes' %}">Contactos</a>
        <a href="{% url 'my_profile' %}">Mi Cuenta</a>
        <a href="{% url 'cerrar_sesion' %}">Cerrar Sesion</a>
      </nav>
    </header>

    {% block content %} {% endblock %}

    <footer></footer>

    <!-- Incluir jQuery desde CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

 
  </body>
</html>
