<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tus Prestamos</title>
  </head>
  <body>
    <header>
      <div>
        <a href="">Logo</a>
        <nav>
            <ul>
                <li>
                    <a href="#">Incio</a>
                </li>
                <li>
                    <a href="#">Acerca De</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
                <li>
                    <a href="#">Iniciar Sesion</a>
                </li>
            </ul>
            <!--Boton que redireccione a youtube-->
            <button>
                <a href="{% url 'create_user' %}" >Crear Cuenta</a>
            </button>  
        </nav>
      </div>
    </header>
    <main>
        <section>
           <h1>Bienvenido</h1>
           <img src="" alt="">
        </section>

        <section>
            <h1>Esta es una aplicacion para administrar el dinero QUE TÚ prestas</h1>
            <p>Esta es una aplicacion para administrar el dinero QUE TÚ prestas</p>
            <p>Esta es una aplicacion para administrar el dinero QUE TÚ prestas</p>
        </section>

        <section>
            <h1>Si tiene algun problema puedes contactarnos</h1>
            <p>Formulario de contacto</p>

        </section>
    </main>
  </body>
</html>
