<div id="myModal" class="second-modal">
  
    <div class="modal-content">
       
        <form method="post" class="form-edicion">
            <h1>Editar Cliente</h1>
            {% csrf_token %}
                <input type="text" name="nombre" value="{{ cliente.nombre }}" placeholder="Nombre">
                <input type="text" name="telefono" value="{{ cliente.telefono }}" placeholder="Telefono">
                <input type="text" name="correo" value="{{ cliente.correo }}" placeholder="Correo">
            <div class="acciones-modal">
                <input type="submit" value="Editar">
                <button class="close" onclick="cerrarModalEdicion()">Cerrar</button>
            </div>
        </form>
        
    </div>
</div>
<style>
    .second-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #282828;
    }
    
    .modal-content {
        color: #fff;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 35%;
        height: 50%;
        background-color: #7a7a7a;
        margin: 10% auto;
        padding: 10px;
        box-shadow: 3px -1px 24px -2px rgba(55,255,21,1);
-webkit-box-shadow: 3px -1px 24px -2px rgba(55,255,21,1);
-moz-box-shadow: 3px -1px 24px -2px rgba(55,255,21,1);
        border-radius: 10px;
    }

    .form-edicion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100%;
        height: 100%;
    }

    .form-edicion input{
        width: 50%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        text-align: center;
    }
    
    .acciones-modal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .acciones-modal input, .close{
        width: 40%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        text-align: center;
        color: #000;
    }
    
    .acciones-modal input{
        background-color: #00ff00;
        color: #fff;
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
    }

    .acciones-modal button{
        background-color: #ff0000;
        color : #fff;
        font-weight: bold;
        font-size: 1.2em;
        cursor: pointer;
    }
</style>