{%load static%}


<link rel="stylesheet" href="{% static 'css/editar-prestamo.css' %}" />

<div id="myModal" class="modal">

    <div class="modal-content">

        <form class="formulario-editar" method="post">
            {% csrf_token %}
            <h1>Editar Prestamo</h1>
            {{ form.as_p }}
           
            <div class="acciones-modal">
                <input type="submit" value="editar">
                <button class="close">Cerrar</button>
            </div>
           
        </form>

    </div>
</div>

<script>
    document.getElementById("id_cliente").addEventListener("mousedown", function(event){
        event.preventDefault();
    });
</script>