<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TusPrestamitos</title>
</head>
<body>
    
    <h1>¡Bienvenido a TusPrestamitos!</h1>
    <p>¡Aquí podrás contralor tus dinero prestado</p>
    <p>¡Regístrate y comienza a disfrutar de los beneficios que tenemos para ti!</p>
    <a href="{% url 'login' %}">Iniciar sesión</a>
    <a href="{% url 'registrar_usuario'  %}">Registrarse</a>
</body>
</html>