{% extends "layout/main.html" %} {% block content %} {% load static %}
<!--traer mi css-->
<link rel="stylesheet" href="{% static 'css/prestamos.css' %}" />

<section class="prestamos">
  <div class="tools">
    <form action="" method="get">
      <input type="text" name="search" placeholder="Buscar prestamo" />
      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
      </button>
    </form>
    <div class="add-prestamo">
      <button class="btn-add" onclick="abrir_modal_creacion('{% url 'agregar_prestamo' %}')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-plus"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 5l0 14" />
          <path d="M5 12l14 0" />
        </svg>
      </button>
    </div>
  </div>
  <div class="list-prestamos">
    {% for prestamo in prestamos %}
    <article class="article">
      <div class="header-article">
        {% if prestamo.pagado == False %}
        <p class="pendiente">Pendiente</p>
        {% else %}
        <p class="pagado">Pagado</p>
        {%endif%}
        <p>S/.{{prestamo.monto}}</p>
      </div>
      <div class="prestamo">
       <h2>{{prestamo.cliente.nombre}}</h2>
        <p>Fecha del prestamo: {{prestamo.fecha_prestamo}}</p>
        {% if prestamo.tasa_interes == 0 %}
        <p>Tasa de Interes: Sin interes</p>
        {% else %}
           <p>Tasa de Interes: {{prestamo.tasa_interes}}%</p>
           <p>
            Monto a pagar: S/. {{prestamo.monto_total}}
           </p>
        {% endif %}
        <p>Plazo de Dias: {{prestamo.plazo_dias}} </p>	

        {% if prestamo.fecha_vencimiento%}
        <p>Fecha de Vencimiento: {{prestamo.fecha_vencimiento}}</p>
        {% endif %}


      </div>
      <div class="article-footer">
        <a href="{% url 'pagar_prestamo' prestamo.id %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
        </a>
        <a href="{% url 'editar_prestamo' prestamo.id %}"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-pencil"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
            <path d="M13.5 6.5l4 4" />
          </svg>
        </>
        <a href="{% url 'eliminar_prestamo' prestamo.id %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-trash"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 7l16 0" />
            <path d="M10 11l0 6" />
            <path d="M14 11l0 6" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
          </svg>
        </a>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<div class="modal" id="creacion" role="dialog">

</div>



<script>
    function abrir_modal_creacion(url) {
        $.ajax({
        url: url,
        success: function (result) {
            $("#creacion").html(result);
            $("#creacion").show();
        },
        });
    }
    
    function cerrarModal() {
        $("#creacion").hide();
    }
</script>

{% endblock %}
