{% load static %}

<head>
<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/registrar_usuario.css' %}" />
  <title>TusPrestamitos</title>
</head>

<article>
  <header>
    <h1>Crea una Cuenta</h1>
  </header>
  {% if error %}
    <h1 style="color: red;">{{error}}</h1>
  {% endif %}

  <form action="/registrar_usuario/" method="post">
    {% csrf_token %}
    <div class="inputs">
      <input type="text" name="first_name" maxlength="30" required="" aria-describedby="id_first_name_helptext" id="id_first_name" placeholder="Ingrese sus Nombres">
      <input type="text" name="last_name" maxlength="50" required="" aria-describedby="id_last_name_helptext" id="id_last_name" placeholder="Ingrese sus Apellidos">
      <input type="text" name="username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username" placeholder="Ingrese su Usuario">
      <input type="email" name="email" maxlength="254" required="" aria-describedby="id_email_helptext" id="id_email" placeholder="Ingrese su correo electronico">
      <input type="password" name="password1" required="" aria-describedby="id_password_helptext" id="id_password"
        placeholder="Ingrese su contraseña">
      
      <input type="password" name="password2" required="" aria-describedby="id_password2_helptext" id="id_password2"
        placeholder="Confirme su contraseña">
    
    </div>
      
    <button>Crear Cuenta</button>

    <div class="back-arrow">
        <a href="{% url 'index' %}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-narrow-left"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l14 0" />
          <path d="M5 12l4 4" />
          <path d="M5 12l4 -4" />
        </svg>
      </a>
      </div>
  </form>
</article>
